.dashboard .card{
      position: relative;
    overflow: hidden;
}
.dashboard .svg-img{
  position: absolute;
  right: -20px;
  bottom: -20px;
  padding: 20px;
  padding-right: 25px;
  background: #db9f25;
  border-radius: 50px;
  height: 80px;
  width: 80px;
}

	.dashboard .svg-img img{
  filter:brightness(0) invert(1);
  height:30px;
}
 .dashboard .card {
    transition: all 0.3s ease;
    box-shadow: 6px 5px 17px 2px rgba(0, 0, 0, 0.08);
}

.btn-skrill{
  background-color: #9816f4;
    border-color: #9816f4 !important;
    color: #ffffff;
}
.btn-skrill:hover{
  color: #fff;
  background-color: #8411d6;
  border-color: #8411d6 !important;
}

.single-item .single-item-text{margin-top: 10px;}
.m-widget4 .height-setting{height:260px;}

@media screen and (max-width: 1199px) { 
.m-widget4 .height-setting{height: 175px;}
    
}


 