        .member img{
            margin: 6px 8px;
        }
        .member {
            background: none;
            color: black;
        }
        .member > img {
            width: 50px;
        }
        .member > span{
            background-color: #555554;
            color: white;
            padding: 1px 8px;
            font-weight: 600;
        }
        #mainContainer {
            background: #fff;
        }
        #mainContainer .container{
            background-color: white;
        }
         #people {
                width: 100%;
                height: 100%;
            }
        .get-org-chart .get-text {
            fill: #060606;
            font-size: 36px;
        }
        text.get-text.get-text-0 {
            display: none;
        }
        a[title=d-none]{
            display: none !important;
        }
        .table th, .table td {
            font-size: 18px;
        }
        .pvpoints-table{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .bonus-center{
            justify-content: center;
        }
        .get-neutralgrey.get-org-chart {
            background-color: #ffffff;
        }
        .get-org-chart {
            background-color: #E0ECF8;
            position: relative;
            height: 80%;
            overflow: auto;
        }
        .get-org-chart::-webkit-scrollbar {
            width: 6px;
        }
        .get-org-chart::-webkit-scrollbar-thumb {
            background: #d4d5da; 
        }
        .get-org-chart::-webkit-scrollbar-track {
           background: #eaeaef; 
        }
        .get-org-chart .get-oc-c{
             overflow: scroll;
        }
        .get-neutralgrey.get-org-chart .get-oc-tb{
            display: block;
            background:#fff;
            border:none; 
        }
        .get-org-chart .get-up{
            display: none;
        }
        .get-org-chart .get-oc-c svg{
            transform: translate(-8%)!important;
        }
        .m--bg-warning {
    background-color: #acacad !important;
}