.hedding{
	font-size: 16px;
	font-weight: bold;
}
	.card-profile.custom-css{
  border-radius: 5px !important;
    border: 1px solid #ececec;
    padding: 5px;
}

.card-profile.custom-css img{
    width: 100%;
    height: 345px;
}
.text-center.btn-left{
      margin-bottom: 42px;
}

.card-profile{
  position: relative;
}
.profile-edit.custom-profile{
    position: absolute;
    height: 45px;
    width: 45px;
    top: -15px;
    left: -87px;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #00c5dc;
    font-size: 22px;
    color: #00c5dc;
    padding: 5px;
    cursor: pointer;
}
.profile-edit.custom-profile:hover{
    border-color: #00c5dc;
    background: #00c5dc;
    color: #fff;
}
.card-profile img{
  border: 1px solid #c3bebe;
}
.image-upload{
    /*position: absolute;
    top: 13px;
    left: 233px;
    right: 0;
    z-index: 1;*/
    position: absolute;
    top: 72px;
    left: 234px;
    right: 0;
    z-index: 1;
}
 

.profile > div.p-relative{
    display: inline-block;
}
.image-upload > input {
    display: none;
}
.profile{ 
    float: left;
}
.profile.nav-pills .nav-link{
  color: #fff;
}
.profile.nav-pills .nav-item{
  background-color: #00c292;
}
.profile.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #58276f;
}
.profile .note p{
    font-family: Raleway;
    font-size: 16px;
    color:#575757;
    line-height: 33px;
}
.profile .note p strong{
    font-family: Raleway;
    font-size: 16px;
}