.jstree-node, .jstree-children, .jstree-container-ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none; }

.vakata-context, .vakata-context ul {
  margin: 0;
  padding: 2px;
  position: absolute;
  background: #f5f5f5;
  border: 1px solid #979797;
  box-shadow: 2px 2px 2px #979797; }

.vakata-context .vakata-context-separator > a, .vakata-context .vakata-context-separator > a:hover {
  background: white;
  border: 0;
  border-top: 1px solid #e2e3e3;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  padding: 0;
  margin: 0 0 0 2.4em;
  border-left: 1px solid #e0e0e0;
  text-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-radius: 0; }

.vakata-context .vakata-contextmenu-disabled a, .vakata-context .vakata-contextmenu-disabled a:hover {
  color: silver;
  background-color: transparent;
  border: 0;
  box-shadow: 0 0 0; }

#jstree-dnd .jstree-icon, #jstree-dnd .jstree-copy {
  display: inline-block;
  text-decoration: none;
  margin: 0 2px 0 0;
  padding: 0;
  width: 16px;
  height: 16px; }

.jstree-default .jstree-node, .jstree-default .jstree-icon {
  background-repeat: no-repeat;
  background-color: transparent;
  color: #333;
  background-image: url(../images/tree/32px.png);
  color: #777; }

.jstree-default > .jstree-wholerow-ul .jstree-hovered, .jstree-default > .jstree-wholerow-ul .jstree-clicked {
  background: transparent;
  box-shadow: none;
  border-radius: 0; }

#jstree-dnd.jstree-default .jstree-ok, #jstree-dnd.jstree-default .jstree-er {
  background-image: url(../images/tree/32px.png);
  background-repeat: no-repeat;
  background-color: transparent; }

#jstree-dnd.jstree-default-small .jstree-ok, #jstree-dnd.jstree-default-small .jstree-er {
  background-image: url(../images/tree/32px.png);
  background-repeat: no-repeat;
  background-color: transparent; }

#jstree-dnd.jstree-default-large .jstree-ok, #jstree-dnd.jstree-default-large .jstree-er {
  background-image: url(../images/tree/32px.png);
  background-repeat: no-repeat;
  background-color: transparent; }

.jstree-node {
  white-space: nowrap; }
  .jstree-node.jstree-hidden {
    display: none; }

.jstree-anchor {
  display: inline-block;
  color: black;
  white-space: nowrap;
  padding: 0 10px 0 1px;
  margin: 0;
  vertical-align: top;
  text-decoration: none;
  color: inherit; }
  .jstree-anchor:focus {
    outline: 0; }
  .jstree-anchor:link {
    text-decoration: none;
    color: inherit; }
  .jstree-anchor:visited {
    text-decoration: none;
    color: inherit; }
  .jstree-anchor:hover {
    text-decoration: none;
    color: inherit; }
  .jstree-anchor:active {
    text-decoration: none;
    color: inherit; }
  .jstree-anchor > .jstree-themeicon {
    margin-right: 2px; }
  .jstree-anchor > .jstree-themeicon-hidden {
    display: none; }

.jstree-icon {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center; }
  .jstree-icon:empty {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center; }

.jstree-ocl {
  cursor: pointer; }

.jstree .jstree-open > .jstree-children {
  display: block; }
.jstree .jstree-closed > .jstree-children {
  display: none; }
.jstree .jstree-leaf > .jstree-children {
  display: none; }

.jstree-hidden {
  display: none; }

.jstree-rtl .jstree-anchor {
  padding: 0 1px 0 4px; }
  .jstree-rtl .jstree-anchor > .jstree-themeicon {
    margin-left: 2px;
    margin-right: 0; }
.jstree-rtl .jstree-node {
  margin-left: 0; }
.jstree-rtl .jstree-container-ul > .jstree-node {
  margin-right: 0; }

.jstree-wholerow-ul {
  position: relative;
  display: inline-block;
  min-width: 100%; }
  .jstree-wholerow-ul .jstree-anchor {
    position: relative; }
  .jstree-wholerow-ul .jstree-icon {
    position: relative; }
  .jstree-wholerow-ul .jstree-wholerow {
    width: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    user-select: none; }
  .jstree-wholerow-ul .jstree-leaf > .jstree-ocl {
    cursor: pointer; }

.vakata-context {
  display: none; }
  .vakata-context ul {
    list-style: none;
    left: 100%;
    margin-top: -2.7em;
    margin-left: -4px; }
  .vakata-context li {
    list-style: none; }
    .vakata-context li > a {
      display: block;
      padding: 0 2em;
      text-decoration: none;
      width: auto;
      color: black;
      white-space: nowrap;
      line-height: 2.4em;
      text-shadow: 1px 1px 0 white;
      border-radius: 1px; }
      .vakata-context li > a:hover {
        position: relative;
        background-color: #e8eff7;
        box-shadow: 0 0 2px #0a6aa1; }
      .vakata-context li > a.vakata-context-parent {
        background-image: url("data:image/gif");
        background-position: right center;
        background-repeat: no-repeat; }
      .vakata-context li > a:focus {
        outline: 0; }
      .vakata-context li > a > i {
        text-decoration: none;
        display: inline-block;
        width: 2.4em;
        height: 2.4em;
        background: transparent;
        margin: 0 0 0 -2em;
        vertical-align: top;
        text-align: center;
        line-height: 2.4em; }
        .vakata-context li > a > i:empty {
          width: 2.4em;
          line-height: 2.4em; }
      .vakata-context li > a .vakata-contextmenu-sep {
        display: inline-block;
        width: 1px;
        height: 2.4em;
        background: white;
        margin: 0 0.5em 0 0;
        border-left: 1px solid #e2e3e3; }
  .vakata-context .vakata-contextmenu-shortcut {
    font-size: 0.8em;
    color: silver;
    opacity: 0.5;
    display: none; }
  .vakata-context .vakata-context-right ul {
    left: auto;
    right: 100%;
    margin-left: auto;
    margin-right: -4px; }
  .vakata-context .vakata-context-hover > a {
    position: relative;
    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1; }

.vakata-context-rtl ul {
  left: auto;
  right: 100%;
  margin-left: auto;
  margin-right: -4px; }
.vakata-context-rtl li > a.vakata-context-parent {
  background-image: url("data:image/gif");
  background-position: left center;
  background-repeat: no-repeat; }
.vakata-context-rtl li > a > i {
  margin: 0 -2em 0 0; }
.vakata-context-rtl li > a .vakata-contextmenu-sep {
  margin: 0 0 0 0.5em;
  border-left-color: white;
  background: #e2e3e3; }
.vakata-context-rtl .vakata-context-separator > a {
  margin: 0 2.4em 0 0;
  border-left: 0;
  border-right: 1px solid #e2e3e3; }
.vakata-context-rtl .vakata-context-left ul {
  right: auto;
  left: 100%;
  margin-left: -4px;
  margin-right: auto; }

#jstree-marker {
  position: absolute;
  top: 0;
  left: 0;
  margin: -5px 0 0;
  padding: 0;
  border-right: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0; }

#jstree-dnd {
  line-height: 16px;
  margin: 0;
  padding: 4px; }
  #jstree-dnd .jstree-copy {
    margin: 0 2px; }
  #jstree-dnd .jstree-ok {
    background: green; }
  #jstree-dnd .jstree-er {
    background: red; }
  #jstree-dnd.jstree-default {
    line-height: 24px;
    padding: 0 4px; }
    #jstree-dnd.jstree-default .jstree-ok {
      background-position: -4px -68px; }
    #jstree-dnd.jstree-default .jstree-er {
      background-position: -36px -68px; }
    #jstree-dnd.jstree-default i {
      background: transparent;
      width: 24px;
      height: 24px;
      line-height: 24px; }
  #jstree-dnd.jstree-default-small {
    line-height: 18px;
    padding: 0 4px; }
    #jstree-dnd.jstree-default-small .jstree-ok {
      background-position: -7px -71px; }
    #jstree-dnd.jstree-default-small .jstree-er {
      background-position: -39px -71px; }
    #jstree-dnd.jstree-default-small i {
      background: transparent;
      width: 18px;
      height: 18px;
      line-height: 18px; }
  #jstree-dnd.jstree-default-large {
    line-height: 32px;
    padding: 0 4px; }
    #jstree-dnd.jstree-default-large .jstree-ok {
      background-position: 0 -64px; }
    #jstree-dnd.jstree-default-large .jstree-er {
      background-position: -32px -64px; }
    #jstree-dnd.jstree-default-large i {
      background: transparent;
      width: 32px;
      height: 32px;
      line-height: 32px; }

.jstree-default .jstree-node {
  min-height: 24px;
  line-height: 24px;
  margin-left: 24px;
  min-width: 24px;
  background-position: -292px -4px;
  background-repeat: repeat-y; }
.jstree-default .jstree-icon {
  width: 24px;
  height: 24px;
  line-height: 24px; }
  .jstree-default .jstree-icon:empty {
    width: 24px;
    height: 24px;
    line-height: 24px; }
.jstree-default .jstree-anchor {
  transition: background-color 0.15s, box-shadow 0.15s;
  line-height: 24px;
  height: 24px; }
  .jstree-default .jstree-anchor > .jstree-undetermined {
    background-position: -196px -4px; }
    .jstree-default .jstree-anchor > .jstree-undetermined:hover {
      background-position: -196px -36px; }
.jstree-default .jstree-wholerow {
  transition: background-color 0.15s, box-shadow 0.15s;
  box-sizing: border-box;
  height: 24px; }
.jstree-default .jstree-hovered {
  background: #e7f4f9;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #cccccc; }
.jstree-default .jstree-context {
  background: #e7f4f9;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #cccccc; }
.jstree-default .jstree-clicked {
  background: #d8d8d8;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #979797;
  color: black; }
.jstree-default .jstree-disabled {
  color: #666666;
  background: transparent; }
  .jstree-default .jstree-disabled.jstree-hovered {
    box-shadow: none;
    background: transparent; }
  .jstree-default .jstree-disabled.jstree-clicked {
    background: #efefef; }
  .jstree-default .jstree-disabled > .jstree-icon {
    opacity: 0.8;
    filter: url("data:image/svg");
    filter: gray; }
.jstree-default .jstree-search {
  font-style: italic;
  color: #8b0000;
  font-weight: bold; }
.jstree-default.jstree-checkbox-no-clicked .jstree-clicked {
  background: transparent;
  box-shadow: none; }
  .jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
    background: #e7f4f9; }
.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked {
  background: transparent; }
  .jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered {
    background: #e7f4f9; }
.jstree-default > .jstree-striped {
  min-width: 100%;
  display: inline-block;
  background: url("data:image/png") left top repeat;
  background-size: auto 48px; }
.jstree-default > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -36px -4px; }
.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -4px -4px; }
.jstree-default > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url(../images/tree/throbber.gif) center center no-repeat; }
.jstree-default > .jstree-container-ul > .jstree-node {
  margin-left: 0;
  margin-right: 0; }
.jstree-default .jstree-wholerow-hovered {
  background: #e7f4f9; }
.jstree-default .jstree-wholerow-clicked {
  background: #beebff;
  background: linear-gradient(to bottom, #beebff 0, #a8e4ff 100%); }
.jstree-default.jstree-rtl .jstree-node {
  margin-right: 24px;
  background-position: 100% 1px;
  background-repeat: repeat-y;
  background-image: url("data:image/png"); }
.jstree-default.jstree-rtl .jstree-last {
  background: transparent; }
.jstree-default.jstree-rtl .jstree-open > .jstree-ocl {
  background-position: -132px -36px; }
.jstree-default.jstree-rtl .jstree-closed > .jstree-ocl {
  background-position: -100px -36px; }
.jstree-default.jstree-rtl .jstree-leaf > .jstree-ocl {
  background-position: -68px -36px; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -36px -36px; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -4px -36px; }
.jstree-default .jstree-last {
  background: transparent; }
.jstree-default .jstree-themeicon {
  background-position: -260px -4px; }
.jstree-default .jstree-checkbox {
  background-position: -164px -4px; }
  .jstree-default .jstree-checkbox:hover {
    background-position: -164px -36px; }
.jstree-default .jstree-checkbox-disabled {
  opacity: 0.8;
  filter: url("data:image/svg");
  filter: gray; }
.jstree-default .jstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0; }
.jstree-default .jstree-file {
  background: url(../images/tree/32px.png) -100px -68px no-repeat; }
.jstree-default .jstree-folder {
  background: url(../images/tree/32px.png) -260px -4px no-repeat; }
.jstree-default .jstree-no-icons .jstree-anchor > .jstree-themeicon {
  display: none; }
.jstree-default .jstree-no-checkboxes .jstree-checkbox {
  display: none !important; }
.jstree-default .jstree-open > .jstree-ocl {
  background-position: -132px -4px; }
.jstree-default .jstree-closed > .jstree-ocl {
  background-position: -100px -4px; }
.jstree-default .jstree-leaf > .jstree-ocl {
  background-position: -68px -4px; }
.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox {
  background-position: -228px -4px; }
  .jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover {
    background-position: -228px -36px; }
.jstree-default .jstree-checked > .jstree-checkbox {
  background-position: -228px -4px; }
  .jstree-default .jstree-checked > .jstree-checkbox:hover {
    background-position: -228px -36px; }

.jstree-default-small .jstree-node {
  min-height: 18px;
  line-height: 18px;
  margin-left: 18px;
  min-width: 18px;
  background-position: -295px -7px;
  background-repeat: repeat-y;
  background-image: url(../images/tree/32px.png); }
.jstree-default-small .jstree-anchor {
  line-height: 18px;
  height: 18px; }
  .jstree-default-small .jstree-anchor > .jstree-undetermined {
    background-position: -199px -7px; }
    .jstree-default-small .jstree-anchor > .jstree-undetermined:hover {
      background-position: -199px -39px; }
.jstree-default-small .jstree-icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  background-image: url(../images/tree/32px.png); }
  .jstree-default-small .jstree-icon:empty {
    width: 18px;
    height: 18px;
    line-height: 18px; }
.jstree-default-small.jstree-rtl .jstree-node {
  margin-right: 18px;
  background-image: url("data:image/png");
  background-position: 100% 1px;
  background-repeat: repeat-y;
  background-image: url("data:image/png"); }
.jstree-default-small.jstree-rtl .jstree-last {
  background: transparent; }
.jstree-default-small.jstree-rtl .jstree-open > .jstree-ocl {
  background-position: -135px -39px; }
.jstree-default-small.jstree-rtl .jstree-closed > .jstree-ocl {
  background-position: -103px -39px; }
.jstree-default-small.jstree-rtl .jstree-leaf > .jstree-ocl {
  background-position: -71px -39px; }
.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -39px -39px; }
.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -7px -39px; }
.jstree-default-small .jstree-wholerow {
  height: 18px; }
.jstree-default-small .jstree-last {
  background: transparent; }
.jstree-default-small .jstree-themeicon {
  background-position: -263px -7px; }
.jstree-default-small > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default-small > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default-small > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -39px -7px; }
.jstree-default-small > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -7px -7px; }
.jstree-default-small > .jstree-striped {
  background-size: auto 36px; }
.jstree-default-small > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url(../images/tree/throbber.gif) center center no-repeat; }
.jstree-default-small > .jstree-container-ul > .jstree-node {
  margin-left: 0;
  margin-right: 0; }
.jstree-default-small .jstree-disabled {
  background: transparent; }
  .jstree-default-small .jstree-disabled.jstree-hovered {
    background: transparent; }
  .jstree-default-small .jstree-disabled.jstree-clicked {
    background: #efefef; }
.jstree-default-small .jstree-checkbox {
  background-position: -167px -7px; }
  .jstree-default-small .jstree-checkbox:hover {
    background-position: -167px -39px; }
.jstree-default-small .jstree-checkbox-disabled {
  opacity: 0.8;
  filter: url("data:image/svg");
  filter: gray; }
.jstree-default-small .jstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0; }
.jstree-default-small .jstree-file {
  background: url(../images/tree/32px.png) -103px -71px no-repeat; }
.jstree-default-small .jstree-folder {
  background: url(../images/tree/32px.png) -263px -7px no-repeat; }
.jstree-default-small .jstree-open > .jstree-ocl {
  background-position: -135px -7px; }
.jstree-default-small .jstree-closed > .jstree-ocl {
  background-position: -103px -7px; }
.jstree-default-small .jstree-leaf > .jstree-ocl {
  background-position: -71px -7px; }
.jstree-default-small.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox {
  background-position: -231px -7px; }
  .jstree-default-small.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover {
    background-position: -231px -39px; }
.jstree-default-small .jstree-checked > .jstree-checkbox {
  background-position: -231px -7px; }
  .jstree-default-small .jstree-checked > .jstree-checkbox:hover {
    background-position: -231px -39px; }

.jstree-default-large .jstree-node {
  min-height: 32px;
  line-height: 32px;
  margin-left: 32px;
  min-width: 32px;
  background-position: -288px 0;
  background-repeat: repeat-y;
  background-image: url(../images/tree/32px.png); }
.jstree-default-large .jstree-anchor {
  line-height: 32px;
  height: 32px; }
  .jstree-default-large .jstree-anchor > .jstree-undetermined {
    background-position: -192px 0; }
    .jstree-default-large .jstree-anchor > .jstree-undetermined:hover {
      background-position: -192px -32px; }
.jstree-default-large .jstree-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-image: url(../images/tree/32px.png); }
  .jstree-default-large .jstree-icon:empty {
    width: 32px;
    height: 32px;
    line-height: 32px; }
.jstree-default-large.jstree-rtl .jstree-node {
  margin-right: 32px;
  background-image: url("data:image/png");
  background-position: 100% 1px;
  background-repeat: repeat-y;
  background-image: url("data:image/png"); }
.jstree-default-large.jstree-rtl .jstree-last {
  background: transparent; }
.jstree-default-large.jstree-rtl .jstree-open > .jstree-ocl {
  background-position: -128px -32px; }
.jstree-default-large.jstree-rtl .jstree-closed > .jstree-ocl {
  background-position: -96px -32px; }
.jstree-default-large.jstree-rtl .jstree-leaf > .jstree-ocl {
  background-position: -64px -32px; }
.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -32px -32px; }
.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: 0 -32px; }
.jstree-default-large .jstree-wholerow {
  height: 32px; }
.jstree-default-large .jstree-last {
  background: transparent; }
.jstree-default-large .jstree-themeicon {
  background-position: -256px 0; }
.jstree-default-large > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default-large > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default-large > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -32px 0; }
.jstree-default-large > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: 0 0; }
.jstree-default-large > .jstree-striped {
  background-size: auto 64px; }
.jstree-default-large > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url(../images/tree/throbber.gif) center center no-repeat; }
.jstree-default-large > .jstree-container-ul > .jstree-node {
  margin-left: 0;
  margin-right: 0; }
.jstree-default-large .jstree-disabled {
  background: transparent; }
  .jstree-default-large .jstree-disabled.jstree-hovered {
    background: transparent; }
  .jstree-default-large .jstree-disabled.jstree-clicked {
    background: #efefef; }
.jstree-default-large .jstree-checkbox {
  background-position: -160px 0; }
  .jstree-default-large .jstree-checkbox:hover {
    background-position: -160px -32px; }
.jstree-default-large .jstree-checkbox-disabled {
  opacity: 0.8;
  filter: url("data:image/svg");
  filter: gray; }
.jstree-default-large .jstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0; }
.jstree-default-large .jstree-file {
  background: url(../images/tree/32px.png) -96px -64px no-repeat; }
.jstree-default-large .jstree-folder {
  background: url(../images/tree/32px.png) -256px 0 no-repeat; }
.jstree-default-large .jstree-open > .jstree-ocl {
  background-position: -128px 0; }
.jstree-default-large .jstree-closed > .jstree-ocl {
  background-position: -96px 0; }
.jstree-default-large .jstree-leaf > .jstree-ocl {
  background-position: -64px 0; }
.jstree-default-large.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox {
  background-position: -224px 0; }
  .jstree-default-large.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover {
    background-position: -224px -32px; }
.jstree-default-large .jstree-checked > .jstree-checkbox {
  background-position: -224px 0; }
  .jstree-default-large .jstree-checked > .jstree-checkbox:hover {
    background-position: -224px -32px; }

@media (max-width: 768px) {
  .jstree-default-responsive .jstree-icon {
    background-image: url(../images/tree/40px.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-image: url(../images/tree/40px.png);
    background-size: 120px 240px; }
    .jstree-default-responsive .jstree-icon:empty {
      width: 40px;
      height: 40px;
      line-height: 40px; }
  .jstree-default-responsive .jstree-node {
    background: transparent;
    min-height: 40px;
    line-height: 40px;
    margin-left: 40px;
    min-width: 40px;
    white-space: nowrap;
    background-position: -80px 0;
    background-repeat: repeat-y;
    background-image: url(../images/tree/40px.png);
    background-size: 120px 240px; }
    .jstree-default-responsive .jstree-node > .jstree-ocl {
      background-image: url(../images/tree/40px.png);
      background-size: 120px 240px; }
  .jstree-default-responsive .jstree-anchor {
    line-height: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 1px 1px white; }
    .jstree-default-responsive .jstree-anchor > .jstree-undetermined {
      background-position: 0 -120px; }
      .jstree-default-responsive .jstree-anchor > .jstree-undetermined:hover {
        background-position: 0 -120px; }
  .jstree-default-responsive > .jstree-striped {
    background: transparent; }
  .jstree-default-responsive > .jstree-container-ul > .jstree-node {
    margin-left: 0;
    margin-right: 0; }
  .jstree-default-responsive.jstree-rtl .jstree-node {
    margin-left: 0;
    margin-right: 40px; }
  .jstree-default-responsive.jstree-rtl .jstree-container-ul > .jstree-node {
    margin-right: 0; }
  .jstree-default-responsive.jstree-rtl .jstree-closed > .jstree-ocl {
    background-position: -40px 0 !important; }
  .jstree-default-responsive .jstree-ocl {
    background-size: 120px 240px; }
  .jstree-default-responsive .jstree-themeicon {
    background-size: 120px 240px;
    background-position: -40px -40px;
    background-image: url(../images/tree/40px.png);
    background-size: 120px 240px; }
  .jstree-default-responsive .jstree-checkbox {
    background-size: 120px 240px;
    background-position: -40px -80px;
    background-image: url(../images/tree/40px.png);
    background-size: 120px 240px; }
    .jstree-default-responsive .jstree-checkbox:hover {
      background-position: -40px -80px; }
  .jstree-default-responsive .jstree-wholerow {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(64, 64, 64, 0.2);
    background: #ebebeb;
    height: 40px; }
  .jstree-default-responsive .jstree-wholerow-hovered {
    background: #e7f4f9; }
  .jstree-default-responsive .jstree-wholerow-clicked {
    background: #beebff; }
  .jstree-default-responsive .jstree-children .jstree-open > .jstree-wholerow {
    box-shadow: inset 0 6px 3px -5px #666666;
    border-top: 0; }
  .jstree-default-responsive .jstree-children .jstree-open + .jstree-open {
    box-shadow: none; }
  .jstree-default-responsive .jstree-children .jstree-last > .jstree-wholerow {
    box-shadow: inset 0 -6px 3px -5px #666666; }
  .jstree-default-responsive .jstree-last {
    background: transparent; }
    .jstree-default-responsive .jstree-last > .jstree-ocl {
      background-position: -40px -160px; }
  .jstree-default-responsive .jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0; }
  .jstree-default-responsive .jstree-file {
    background: url(../images/tree/40px.png) 0 -160px no-repeat;
    background-size: 120px 240px; }
  .jstree-default-responsive .jstree-folder {
    background: url(../images/tree/40px.png) -40px -40px no-repeat;
    background-size: 120px 240px; }
  .jstree-default-responsive .jstree-leaf > .jstree-ocl {
    background: transparent;
    background: transparent;
    background-position: -40px -120px; }
  .jstree-default-responsive .jstree-open > .jstree-ocl {
    background-position: 0 0 !important; }
  .jstree-default-responsive .jstree-closed > .jstree-ocl {
    background-position: 0 -40px !important; }
  .jstree-default-responsive.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox {
    background-position: 0 -80px; }
    .jstree-default-responsive.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover {
      background-position: 0 -80px; }
  .jstree-default-responsive .jstree-checked > .jstree-checkbox {
    background-position: 0 -80px; }
    .jstree-default-responsive .jstree-checked > .jstree-checkbox:hover {
      background-position: 0 -80px; }

  #jstree-dnd.jstree-dnd-responsive {
    line-height: 40px;
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 1px 1px white; }
    #jstree-dnd.jstree-dnd-responsive > i {
      background: transparent;
      width: 40px;
      height: 40px; }
    #jstree-dnd.jstree-dnd-responsive > .jstree-ok {
      background-image: url(../images/tree/40px.png);
      background-position: 0 -200px;
      background-size: 120px 240px; }
    #jstree-dnd.jstree-dnd-responsive > .jstree-er {
      background-image: url(../images/tree/40px.png);
      background-position: -40px -200px;
      background-size: 120px 240px; }

  #jstree-marker.jstree-dnd-responsive {
    border-left-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    margin-top: -10px; } }
.jstree-leaf > .jstree-ocl {
  cursor: default; }

.jstree-no-icons .jstree-themeicon {
  display: none; }

.jstree-node, .jstree-children, .jstree-container-ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none; }

.vakata-context, .vakata-context ul {
  margin: 0;
  padding: 2px;
  position: absolute;
  background: #f5f5f5;
  border: 1px solid #979797;
  box-shadow: 2px 2px 2px #979797; }

.vakata-context .vakata-context-separator > a, .vakata-context .vakata-context-separator > a:hover {
  background: white;
  border: 0;
  border-top: 1px solid #e2e3e3;
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  padding: 0;
  margin: 0 0 0 2.4em;
  border-left: 1px solid #e0e0e0;
  text-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border-radius: 0; }

.vakata-context .vakata-contextmenu-disabled a, .vakata-context .vakata-contextmenu-disabled a:hover {
  color: silver;
  background-color: transparent;
  border: 0;
  box-shadow: 0 0 0; }

#jstree-dnd .jstree-icon, #jstree-dnd .jstree-copy {
  display: inline-block;
  text-decoration: none;
  margin: 0 2px 0 0;
  padding: 0;
  width: 16px;
  height: 16px; }

.jstree-default .jstree-node, .jstree-default .jstree-icon {
  background-repeat: no-repeat;
  background-color: transparent;
  color: #333;
  background-image: url(../images/tree/32px.png);
  color: #777; }

.jstree-default > .jstree-wholerow-ul .jstree-hovered, .jstree-default > .jstree-wholerow-ul .jstree-clicked {
  background: transparent;
  box-shadow: none;
  border-radius: 0; }

#jstree-dnd.jstree-default .jstree-ok, #jstree-dnd.jstree-default .jstree-er {
  background-image: url(../images/icon-tree.png);
  background-repeat: no-repeat;
  background-color: transparent; }

#jstree-dnd.jstree-default-small .jstree-ok, #jstree-dnd.jstree-default-small .jstree-er {
  background-image: url(../images/icon-tree.png);
  background-repeat: no-repeat;
  background-color: transparent; }

#jstree-dnd.jstree-default-large .jstree-ok, #jstree-dnd.jstree-default-large .jstree-er {
  background-image: url(../images/icon-tree.png);
  background-repeat: no-repeat;
  background-color: transparent; }

.jstree-node {
  white-space: nowrap; }
  .jstree-node.jstree-hidden {
    display: none; }

.jstree-anchor {
  display: inline-block;
  color: black;
  white-space: nowrap;
  padding: 0 10px 0 1px;
  margin: 0;
  vertical-align: top;
  text-decoration: none;
  color: inherit; }
  .jstree-anchor:focus {
    outline: 0; }
  .jstree-anchor:link {
    text-decoration: none;
    color: inherit; }
  .jstree-anchor:visited {
    text-decoration: none;
    color: inherit; }
  .jstree-anchor:hover {
    text-decoration: none;
    color: inherit; }
  .jstree-anchor:active {
    text-decoration: none;
    color: inherit; }
  .jstree-anchor > .jstree-themeicon {
    margin-right: 2px; }
  .jstree-anchor > .jstree-themeicon-hidden {
    display: none; }

.jstree-icon {
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: center; }
  .jstree-icon:empty {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center; }

.jstree-ocl {
  cursor: pointer; }

.jstree .jstree-open > .jstree-children {
  display: block; }
.jstree .jstree-closed > .jstree-children {
  display: none; }
.jstree .jstree-leaf > .jstree-children {
  display: none; }

.jstree-hidden {
  display: none; }

.jstree-rtl .jstree-anchor {
  padding: 0 1px 0 4px; }
  .jstree-rtl .jstree-anchor > .jstree-themeicon {
    margin-left: 2px;
    margin-right: 0; }
.jstree-rtl .jstree-node {
  margin-left: 0; }
.jstree-rtl .jstree-container-ul > .jstree-node {
  margin-right: 0; }

.jstree-wholerow-ul {
  position: relative;
  display: inline-block;
  min-width: 100%; }
  .jstree-wholerow-ul .jstree-anchor {
    position: relative; }
  .jstree-wholerow-ul .jstree-icon {
    position: relative; }
  .jstree-wholerow-ul .jstree-wholerow {
    width: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    user-select: none; }
  .jstree-wholerow-ul .jstree-leaf > .jstree-ocl {
    cursor: pointer; }

.vakata-context {
  display: none; }
  .vakata-context ul {
    list-style: none;
    left: 100%;
    margin-top: -2.7em;
    margin-left: -4px; }
  .vakata-context li {
    list-style: none; }
    .vakata-context li > a {
      display: block;
      padding: 0 2em;
      text-decoration: none;
      width: auto;
      color: black;
      white-space: nowrap;
      line-height: 2.4em;
      text-shadow: 1px 1px 0 white;
      border-radius: 1px; }
      .vakata-context li > a:hover {
        position: relative;
        background-color: #e8eff7;
        box-shadow: 0 0 2px #0a6aa1; }
      .vakata-context li > a.vakata-context-parent {
        background-image: url("data:image/gif");
        background-position: right center;
        background-repeat: no-repeat; }
      .vakata-context li > a:focus {
        outline: 0; }
      .vakata-context li > a > i {
        text-decoration: none;
        display: inline-block;
        width: 2.4em;
        height: 2.4em;
        background: transparent;
        margin: 0 0 0 -2em;
        vertical-align: top;
        text-align: center;
        line-height: 2.4em; }
        .vakata-context li > a > i:empty {
          width: 2.4em;
          line-height: 2.4em; }
      .vakata-context li > a .vakata-contextmenu-sep {
        display: inline-block;
        width: 1px;
        height: 2.4em;
        background: white;
        margin: 0 0.5em 0 0;
        border-left: 1px solid #e2e3e3; }
  .vakata-context .vakata-contextmenu-shortcut {
    font-size: 0.8em;
    color: silver;
    opacity: 0.5;
    display: none; }
  .vakata-context .vakata-context-right ul {
    left: auto;
    right: 100%;
    margin-left: auto;
    margin-right: -4px; }
  .vakata-context .vakata-context-hover > a {
    position: relative;
    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1; }

.vakata-context-rtl ul {
  left: auto;
  right: 100%;
  margin-left: auto;
  margin-right: -4px; }
.vakata-context-rtl li > a.vakata-context-parent {
  background-image: url("data:image/gif");
  background-position: left center;
  background-repeat: no-repeat; }
.vakata-context-rtl li > a > i {
  margin: 0 -2em 0 0; }
.vakata-context-rtl li > a .vakata-contextmenu-sep {
  margin: 0 0 0 0.5em;
  border-left-color: white;
  background: #e2e3e3; }
.vakata-context-rtl .vakata-context-separator > a {
  margin: 0 2.4em 0 0;
  border-left: 0;
  border-right: 1px solid #e2e3e3; }
.vakata-context-rtl .vakata-context-left ul {
  right: auto;
  left: 100%;
  margin-left: -4px;
  margin-right: auto; }

#jstree-marker {
  position: absolute;
  top: 0;
  left: 0;
  margin: -5px 0 0;
  padding: 0;
  border-right: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0; }

#jstree-dnd {
  line-height: 16px;
  margin: 0;
  padding: 4px; }
  #jstree-dnd .jstree-copy {
    margin: 0 2px; }
  #jstree-dnd .jstree-ok {
    background: green; }
  #jstree-dnd .jstree-er {
    background: red; }
  #jstree-dnd.jstree-default {
    line-height: 24px;
    padding: 0 4px; }
    #jstree-dnd.jstree-default .jstree-ok {
      background-position: -4px -68px; }
    #jstree-dnd.jstree-default .jstree-er {
      background-position: -36px -68px; }
    #jstree-dnd.jstree-default i {
      background: transparent;
      width: 24px;
      height: 24px;
      line-height: 24px; }
  #jstree-dnd.jstree-default-small {
    line-height: 18px;
    padding: 0 4px; }
    #jstree-dnd.jstree-default-small .jstree-ok {
      background-position: -7px -71px; }
    #jstree-dnd.jstree-default-small .jstree-er {
      background-position: -39px -71px; }
    #jstree-dnd.jstree-default-small i {
      background: transparent;
      width: 18px;
      height: 18px;
      line-height: 18px; }
  #jstree-dnd.jstree-default-large {
    line-height: 32px;
    padding: 0 4px; }
    #jstree-dnd.jstree-default-large .jstree-ok {
      background-position: 0 -64px; }
    #jstree-dnd.jstree-default-large .jstree-er {
      background-position: -32px -64px; }
    #jstree-dnd.jstree-default-large i {
      background: transparent;
      width: 32px;
      height: 32px;
      line-height: 32px; }

.jstree-default .jstree-node {
  min-height: 24px;
  line-height: 24px;
  margin-left: 24px;
  min-width: 24px;
  background-position: -292px -4px;
  background-repeat: repeat-y; }
.jstree-default .jstree-icon {
  width: 24px;
  height: 24px;
  line-height: 24px; }
  .jstree-default .jstree-icon:empty {
    width: 24px;
    height: 24px;
    line-height: 24px; }
.jstree-default .jstree-anchor {
  transition: background-color 0.15s, box-shadow 0.15s;
  line-height: 24px;
  height: 24px; }
  .jstree-default .jstree-anchor > .jstree-undetermined {
    background-position: -196px -4px; }
    .jstree-default .jstree-anchor > .jstree-undetermined:hover {
      background-position: -196px -36px; }
.jstree-default .jstree-wholerow {
  transition: background-color 0.15s, box-shadow 0.15s;
  box-sizing: border-box;
  height: 24px; }
.jstree-default .jstree-hovered {
  background: #e7f4f9;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #cccccc; }
.jstree-default .jstree-context {
  background: #e7f4f9;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #cccccc; }
.jstree-default .jstree-clicked {
  background: #d8d8d8;
  border-radius: 2px;
  box-shadow: inset 0 0 1px #979797;
  color: black; }
.jstree-default .jstree-disabled {
  color: #666666;
  background: transparent; }
  .jstree-default .jstree-disabled.jstree-hovered {
    box-shadow: none;
    background: transparent; }
  .jstree-default .jstree-disabled.jstree-clicked {
    background: #efefef; }
  .jstree-default .jstree-disabled > .jstree-icon {
    opacity: 0.8;
    filter: url("data:image/svg");
    filter: gray; }
.jstree-default .jstree-search {
  font-style: italic;
  color: #8b0000;
  font-weight: bold; }
.jstree-default.jstree-checkbox-no-clicked .jstree-clicked {
  background: transparent;
  box-shadow: none; }
  .jstree-default.jstree-checkbox-no-clicked .jstree-clicked.jstree-hovered {
    background: #e7f4f9; }
.jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked {
  background: transparent; }
  .jstree-default.jstree-checkbox-no-clicked > .jstree-wholerow-ul .jstree-wholerow-clicked.jstree-wholerow-hovered {
    background: #e7f4f9; }
.jstree-default > .jstree-striped {
  min-width: 100%;
  display: inline-block;
  background: url("data:image/png") left top repeat;
  background-size: auto 48px; }
.jstree-default > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -36px -4px; }
.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -4px -4px; }
.jstree-default > .jstree-container-ul > .jstree-node {
  margin-left: 0;
  margin-right: 0; }
.jstree-default .jstree-wholerow-hovered {
  background: #e7f4f9; }
.jstree-default .jstree-wholerow-clicked {
  background: #beebff;
  background: linear-gradient(to bottom, #beebff 0, #a8e4ff 100%); }
.jstree-default.jstree-rtl .jstree-node {
  margin-right: 24px;
  background-position: 100% 1px;
  background-repeat: repeat-y;
  background-image: url("data:image/png"); }
.jstree-default.jstree-rtl .jstree-last {
  background: transparent; }
.jstree-default.jstree-rtl .jstree-open > .jstree-ocl {
  background-position: -132px -36px; }
.jstree-default.jstree-rtl .jstree-closed > .jstree-ocl {
  background-position: -100px -36px; }
.jstree-default.jstree-rtl .jstree-leaf > .jstree-ocl {
  background-position: -68px -36px; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -36px -36px; }
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -4px -36px; }
.jstree-default .jstree-last {
  background: transparent; }
.jstree-default .jstree-themeicon {
  background-position: -260px -4px; }
.jstree-default .jstree-checkbox {
  background-position: -164px -4px; }
  .jstree-default .jstree-checkbox:hover {
    background-position: -164px -36px; }
.jstree-default .jstree-checkbox-disabled {
  opacity: 0.8;
  filter: url("data:image/svg");
  filter: gray; }
.jstree-default .jstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0; }
.jstree-default .jstree-file {
  background: url(../images/icon-tree.png) -100px -68px no-repeat; }
.jstree-default .jstree-folder {
  background: url(../images/icon-tree.png) -260px -4px no-repeat; }
.jstree-default .jstree-no-icons .jstree-anchor > .jstree-themeicon {
  display: none; }
.jstree-default .jstree-no-checkboxes .jstree-checkbox {
  display: none !important; }
.jstree-default .jstree-open > .jstree-ocl {
  background-position: -132px -4px; }
.jstree-default .jstree-closed > .jstree-ocl {
  background-position: -100px -4px; }
.jstree-default .jstree-leaf > .jstree-ocl {
  background-position: -68px -4px; }
.jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox {
  background-position: -228px -4px; }
  .jstree-default.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover {
    background-position: -228px -36px; }
.jstree-default .jstree-checked > .jstree-checkbox {
  background-position: -228px -4px; }
  .jstree-default .jstree-checked > .jstree-checkbox:hover {
    background-position: -228px -36px; }

.jstree-default-small .jstree-node {
  min-height: 18px;
  line-height: 18px;
  margin-left: 18px;
  min-width: 18px;
  background-position: -295px -7px;
  background-repeat: repeat-y;
  background-image: url(../images/icon-tree.png); }
.jstree-default-small .jstree-anchor {
  line-height: 18px;
  height: 18px; }
  .jstree-default-small .jstree-anchor > .jstree-undetermined {
    background-position: -199px -7px; }
    .jstree-default-small .jstree-anchor > .jstree-undetermined:hover {
      background-position: -199px -39px; }
.jstree-default-small .jstree-icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  background-image: url(../images/icon-tree.png); }
  .jstree-default-small .jstree-icon:empty {
    width: 18px;
    height: 18px;
    line-height: 18px; }
.jstree-default-small.jstree-rtl .jstree-node {
  margin-right: 18px;
  background-image: url("data:image/png");
  background-position: 100% 1px;
  background-repeat: repeat-y;
  background-image: url("data:image/png"); }
.jstree-default-small.jstree-rtl .jstree-last {
  background: transparent; }
.jstree-default-small.jstree-rtl .jstree-open > .jstree-ocl {
  background-position: -135px -39px; }
.jstree-default-small.jstree-rtl .jstree-closed > .jstree-ocl {
  background-position: -103px -39px; }
.jstree-default-small.jstree-rtl .jstree-leaf > .jstree-ocl {
  background-position: -71px -39px; }
.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -39px -39px; }
.jstree-default-small.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -7px -39px; }
.jstree-default-small .jstree-wholerow {
  height: 18px; }
.jstree-default-small .jstree-last {
  background: transparent; }
.jstree-default-small .jstree-themeicon {
  background-position: -263px -7px; }
.jstree-default-small > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default-small > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default-small > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -39px -7px; }
.jstree-default-small > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -7px -7px; }
.jstree-default-small > .jstree-striped {
  background-size: auto 36px; }
.jstree-default-small > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url(../images/throbber.gif) center center no-repeat; }
.jstree-default-small > .jstree-container-ul > .jstree-node {
  margin-left: 0;
  margin-right: 0; }
.jstree-default-small .jstree-disabled {
  background: transparent; }
  .jstree-default-small .jstree-disabled.jstree-hovered {
    background: transparent; }
  .jstree-default-small .jstree-disabled.jstree-clicked {
    background: #efefef; }
.jstree-default-small .jstree-checkbox {
  background-position: -167px -7px; }
  .jstree-default-small .jstree-checkbox:hover {
    background-position: -167px -39px; }
.jstree-default-small .jstree-checkbox-disabled {
  opacity: 0.8;
  filter: url("data:image/svg");
  filter: gray; }
.jstree-default-small .jstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0; }
.jstree-default-small .jstree-file {
  background: url(../images/icon-tree.png) -103px -71px no-repeat; }
.jstree-default-small .jstree-folder {
  background: url(../images/icon-tree.png) -263px -7px no-repeat; }
.jstree-default-small .jstree-open > .jstree-ocl {
  background-position: -135px -7px; }
.jstree-default-small .jstree-closed > .jstree-ocl {
  background-position: -103px -7px; }
.jstree-default-small .jstree-leaf > .jstree-ocl {
  background-position: -71px -7px; }
.jstree-default-small.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox {
  background-position: -231px -7px; }
  .jstree-default-small.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover {
    background-position: -231px -39px; }
.jstree-default-small .jstree-checked > .jstree-checkbox {
  background-position: -231px -7px; }
  .jstree-default-small .jstree-checked > .jstree-checkbox:hover {
    background-position: -231px -39px; }

.jstree-default-large .jstree-node {
  min-height: 32px;
  line-height: 32px;
  margin-left: 32px;
  min-width: 32px;
  background-position: -288px 0;
  background-repeat: repeat-y;
  background-image: url(../images/icon-tree.png); }
.jstree-default-large .jstree-anchor {
  line-height: 32px;
  height: 32px; }
  .jstree-default-large .jstree-anchor > .jstree-undetermined {
    background-position: -192px 0; }
    .jstree-default-large .jstree-anchor > .jstree-undetermined:hover {
      background-position: -192px -32px; }
.jstree-default-large .jstree-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background-image: url(../images/icon-tree.png); }
  .jstree-default-large .jstree-icon:empty {
    width: 32px;
    height: 32px;
    line-height: 32px; }
.jstree-default-large.jstree-rtl .jstree-node {
  margin-right: 32px;
  background-image: url("data:image/png");
  background-position: 100% 1px;
  background-repeat: repeat-y;
  background-image: url("data:image/png"); }
.jstree-default-large.jstree-rtl .jstree-last {
  background: transparent; }
.jstree-default-large.jstree-rtl .jstree-open > .jstree-ocl {
  background-position: -128px -32px; }
.jstree-default-large.jstree-rtl .jstree-closed > .jstree-ocl {
  background-position: -96px -32px; }
.jstree-default-large.jstree-rtl .jstree-leaf > .jstree-ocl {
  background-position: -64px -32px; }
.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -32px -32px; }
.jstree-default-large.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: 0 -32px; }
.jstree-default-large .jstree-wholerow {
  height: 32px; }
.jstree-default-large .jstree-last {
  background: transparent; }
.jstree-default-large .jstree-themeicon {
  background-position: -256px 0; }
.jstree-default-large > .jstree-no-dots .jstree-node {
  background: transparent; }
.jstree-default-large > .jstree-no-dots .jstree-leaf > .jstree-ocl {
  background: transparent; }
.jstree-default-large > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -32px 0; }
.jstree-default-large > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: 0 0; }
.jstree-default-large > .jstree-striped {
  background-size: auto 64px; }
.jstree-default-large > .jstree-container-ul .jstree-loading > .jstree-ocl {
  background: url(../images/throbber.gif) center center no-repeat; }
.jstree-default-large > .jstree-container-ul > .jstree-node {
  margin-left: 0;
  margin-right: 0; }
.jstree-default-large .jstree-disabled {
  background: transparent; }
  .jstree-default-large .jstree-disabled.jstree-hovered {
    background: transparent; }
  .jstree-default-large .jstree-disabled.jstree-clicked {
    background: #efefef; }
.jstree-default-large .jstree-checkbox {
  background-position: -160px 0; }
  .jstree-default-large .jstree-checkbox:hover {
    background-position: -160px -32px; }
.jstree-default-large .jstree-checkbox-disabled {
  opacity: 0.8;
  filter: url("data:image/svg");
  filter: gray; }
.jstree-default-large .jstree-themeicon-custom {
  background-color: transparent;
  background-image: none;
  background-position: 0 0; }
.jstree-default-large .jstree-file {
  background: url(../images/icon-tree.png) -96px -64px no-repeat; }
.jstree-default-large .jstree-folder {
  background: url(../images/icon-tree.png) -256px 0 no-repeat; }
.jstree-default-large .jstree-open > .jstree-ocl {
  background-position: -128px 0; }
.jstree-default-large .jstree-closed > .jstree-ocl {
  background-position: -96px 0; }
.jstree-default-large .jstree-leaf > .jstree-ocl {
  background-position: -64px 0; }
.jstree-default-large.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox {
  background-position: -224px 0; }
  .jstree-default-large.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover {
    background-position: -224px -32px; }
.jstree-default-large .jstree-checked > .jstree-checkbox {
  background-position: -224px 0; }
  .jstree-default-large .jstree-checked > .jstree-checkbox:hover {
    background-position: -224px -32px; }

@media (max-width: 768px) {
  .jstree-default-responsive .jstree-icon {
    background-image: url(../images/tree-1.png);
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-image: url(../images/tree-1.png);
    background-size: 120px 240px; }
    .jstree-default-responsive .jstree-icon:empty {
      width: 40px;
      height: 40px;
      line-height: 40px; }
  .jstree-default-responsive .jstree-node {
    background: transparent;
    min-height: 40px;
    line-height: 40px;
    margin-left: 40px;
    min-width: 40px;
    white-space: nowrap;
    background-position: -80px 0;
    background-repeat: repeat-y;
    background-image: url(../images/tree-1.png);
    background-size: 120px 240px; }
    .jstree-default-responsive .jstree-node > .jstree-ocl {
      background-image: url(../images/tree-1.png);
      background-size: 120px 240px; }
  .jstree-default-responsive .jstree-anchor {
    line-height: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 1px 1px white; }
    .jstree-default-responsive .jstree-anchor > .jstree-undetermined {
      background-position: 0 -120px; }
      .jstree-default-responsive .jstree-anchor > .jstree-undetermined:hover {
        background-position: 0 -120px; }
  .jstree-default-responsive > .jstree-striped {
    background: transparent; }
  .jstree-default-responsive > .jstree-container-ul > .jstree-node {
    margin-left: 0;
    margin-right: 0; }
  .jstree-default-responsive.jstree-rtl .jstree-node {
    margin-left: 0;
    margin-right: 40px; }
  .jstree-default-responsive.jstree-rtl .jstree-container-ul > .jstree-node {
    margin-right: 0; }
  .jstree-default-responsive.jstree-rtl .jstree-closed > .jstree-ocl {
    background-position: -40px 0 !important; }
  .jstree-default-responsive .jstree-ocl {
    background-size: 120px 240px; }
  .jstree-default-responsive .jstree-themeicon {
    background-size: 120px 240px;
    background-position: -40px -40px;
    background-image: url(../images/tree-1.png);
    background-size: 120px 240px; }
  .jstree-default-responsive .jstree-checkbox {
    background-size: 120px 240px;
    background-position: -40px -80px;
    background-image: url(../images/tree-1.png);
    background-size: 120px 240px; }
    .jstree-default-responsive .jstree-checkbox:hover {
      background-position: -40px -80px; }
  .jstree-default-responsive .jstree-wholerow {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(64, 64, 64, 0.2);
    background: #ebebeb;
    height: 40px; }
  .jstree-default-responsive .jstree-wholerow-hovered {
    background: #e7f4f9; }
  .jstree-default-responsive .jstree-wholerow-clicked {
    background: #beebff; }
  .jstree-default-responsive .jstree-children .jstree-open > .jstree-wholerow {
    box-shadow: inset 0 6px 3px -5px #666666;
    border-top: 0; }
  .jstree-default-responsive .jstree-children .jstree-open + .jstree-open {
    box-shadow: none; }
  .jstree-default-responsive .jstree-children .jstree-last > .jstree-wholerow {
    box-shadow: inset 0 -6px 3px -5px #666666; }
  .jstree-default-responsive .jstree-last {
    background: transparent; }
    .jstree-default-responsive .jstree-last > .jstree-ocl {
      background-position: -40px -160px; }
  .jstree-default-responsive .jstree-themeicon-custom {
    background-color: transparent;
    background-image: none;
    background-position: 0 0; }
  .jstree-default-responsive .jstree-file {
    background: url(../images/tree-1.png) 0 -160px no-repeat;
    background-size: 120px 240px; }
  .jstree-default-responsive .jstree-folder {
    background: url(../images/tree-1.png) -40px -40px no-repeat;
    background-size: 120px 240px; }
  .jstree-default-responsive .jstree-leaf > .jstree-ocl {
    background: transparent;
    background: transparent;
    background-position: -40px -120px; }
  .jstree-default-responsive .jstree-open > .jstree-ocl {
    background-position: 0 0 !important; }
  .jstree-default-responsive .jstree-closed > .jstree-ocl {
    background-position: 0 -40px !important; }
  .jstree-default-responsive.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox {
    background-position: 0 -80px; }
    .jstree-default-responsive.jstree-checkbox-selection .jstree-clicked > .jstree-checkbox:hover {
      background-position: 0 -80px; }
  .jstree-default-responsive .jstree-checked > .jstree-checkbox {
    background-position: 0 -80px; }
    .jstree-default-responsive .jstree-checked > .jstree-checkbox:hover {
      background-position: 0 -80px; }

  #jstree-dnd.jstree-dnd-responsive {
    line-height: 40px;
    font-weight: bold;
    font-size: 1.1em;
    text-shadow: 1px 1px white; }
    #jstree-dnd.jstree-dnd-responsive > i {
      background: transparent;
      width: 40px;
      height: 40px; }
    #jstree-dnd.jstree-dnd-responsive > .jstree-ok {
      background-image: url(../images/tree-1.png);
      background-position: 0 -200px;
      background-size: 120px 240px; }
    #jstree-dnd.jstree-dnd-responsive > .jstree-er {
      background-image: url(../images/tree-1.png);
      background-position: -40px -200px;
      background-size: 120px 240px; }

  #jstree-marker.jstree-dnd-responsive {
    border-left-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    margin-top: -10px; } }
.jstree-leaf > .jstree-ocl {
  cursor: default; }

.jstree-no-icons .jstree-themeicon {
  display: none; }
